.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
}

.title {
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.stroke span {
  position: relative;
  color: #ffffff;
}

.stroke span::after {
  content: attr(data-char);
  position: absolute;
  left: 0;
  top: 0;
  color: transparent;
  z-index: -1;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #e9d2f4;
}
